* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-container {
  z-index: 999;
}
.btn-menu {
  font-family: 'JetBrains Mono';
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 100px;
  z-index: 999;
}

.ul-menu {
  top: 0;
  bottom: 100;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 998;
  background-color: rgb(139, 139, 139);
  transform: translate(-100%, -100%);
  transition-duration: .8s;
  padding-top: 50px;
}
.ul-menu.active {
  transform: translate(0,0);
}
.ul-menu li {
  display:block;
  width: 100%;
  text-align: center;
  padding: 10px; 
}

.ul-menu li a {
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: black;
  transition:.5s ease-out;
}

.ul-menu li a:hover {
  color: rgba(0, 0, 0, 0.466);
}

.inicio {
  height: 200vh;
}

/*Home*/
.home {
  height: 100vh;
  background-color: black;
  color: white;
}
.home img {
  padding-left: 2.8rem;
}
.text-creator {
  padding-top: 5rem;
  padding-left: 3rem;
}
.text-creator h1 {
  font-family: 'Poppins';
  font-size: 5rem;
}
.text-creator h5 {
  padding-top: 12rem;
  font-family: 'JetBrains Mono';
}
.text-creator p {
  padding-top: 2rem;
  font-family: 'JetBrains Mono';
}
.logo {
  display: flex;
}

/*Welcome*/

.welcome-container {
  padding: 3rem;
  padding-top: 10rem;
}
.welcome-container h1{
  font-family: 'Poppins';
  font-size: 2rem;
}
.welcome-container p {
  font-family: 'JetBrains Mono';
  padding-top: 2rem ;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}
.welcome-container button {
  font-family: 'JetBrains Mono';
  color: white;
  background-color: black;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/*About*/
.about {
  padding: 3rem;
}
.about-container h1 {
  font-family: 'Poppins';
  font-size: 2rem;
}
.about-container p {
  font-family: 'JetBrains Mono';
  padding-top: 2rem ;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  text-align: justify;
}
.imagen-container {
  display: flex;
  justify-content: center;
}
.imagen-yo {
  display: flex;
  justify-content: center;
  height:200px;
  width:200px;
  background-image: url('imgs/yo.jpg');
  background-position: center;
  background-size: cover;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:100px;
}

/*Aprendizaje Container*/

.aprendizaje {
  padding: 3rem;
}
.aprendizaje-container h1 {
  font-family: 'Poppins';
  font-size: 2rem;
}
.aprendizaje-container h2 {
  font: bold 1.5em 'Poppins';
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.lenguajes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}
.lenguajes img {
  padding-right: .5rem;
  padding-top: 10px;
}
.lenguajes div {
  display: flex;
}
.pasiones {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pasiones img {
  padding-right: .5rem;
  padding-top: 15px ;
}
.pasiones div {
  display: flex;
}
.aprendizaje div p {
  padding-top: 1.1rem;
  font-family: 'Poppins';
}
.title-learn {
  font-family: 'Poppins';
}
.idiomas div {
  text-align: center;
}
.contact {
  font-family: 'Poppins';
  height: 30rem;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  background-color: black;
}
.contact div {
  padding-top: 2rem;
}
.contact h1 {
  color: white;
}
.contact p {
  color: hsla(0,0%,100%,.5);
}
.contact ul li a{
  color: hsla(0,0%,100%,.5);
  text-decoration: none;
}


@media (min-width: 1200px) {
  .inicio {
    display: flex;
    height: 100vh;
  }
  .home {
    width: 50vw;
  }
  .welcome {
    width: 50vw;
  }
  .btn-container {
    display: none;
  }
  .ul-menu {
    transform: translate(0,0);
    display: flex;
    position: absolute;
    height: 10vh;
    width: fit-content;
    padding-top: 0;
    padding-left: 700px;
    background-color: transparent;
    transition: none;
  }
  .ul-menu li {
    padding-right: 30px;
    width: 150px;
  }
  .ul-menu li a {
    font-size: 1.2rem;
  }
  #seccion {
    padding-left: 300px;
    padding-right: 300px;
    
  }
  .aprendizaje-container {
    display: flex;
  }
  .aprendizaje-container div {
    padding-right: 65px;
  }
  .contact {
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    height: 20rem;
    justify-content: space-around;
  }

}